/* General Styling */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  padding: 0 20px 20px 20px;
  background-color: blanchedalmond;
  justify-self: center;
}

main {
  font-size: 16px;
}

.content {
  background-color: white;
  padding: 0.75rem;
}

section {
  border-bottom: 1px solid #000000;
}

h1 {
  font-size: calc(3rem + 1.5vw);
}

h2 {
  font-size: 2rem;
}

.navbar {
  margin: 0;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  /* check the above with Harnoor if it automatically aligns in a row 
  because it 'flexes' within the box of <nav> in my understanding*/
}

.navbar a {
  background-color: black;
  color: white;
  justify-self: center;
  align-items: center;
}

.contact-info {
  list-style: none;
  margin-left: -2rem;
}

.icon {
  width: calc(20px + 1vw);
  height: calc(20px + 1vw);
}

.references {
  font-size: 1rem;
  list-style: none;
  margin-left: -1.5rem;
}

/* Mobile Layout */

.navbar {
  display: block;
  position: sticky;
  top: 0;
}

.navbar ul {
  gap: 0.2rem;
}

.navbar li {
  flex: 1; /* box to fill space within <nav> */
}

/* styling the actual content within <li> */
.navbar a {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1; /* fill space within <nav> */
  justify-content: center;
  align-items: center;
}

.about-me h2 {
  margin-top: -0.25rem;
}

.skills-list {
  margin-left: -1rem;
}

.skills-list li {
  margin: 2rem 0;
}

.contact-info div {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}

.contact-me label {
  display: block;
  margin: 0.5rem 0;
}

.references {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.references li {
  flex: 1;
  margin: 1rem 0; /*could gap be used instead? */
  padding: 12px 0;
  border-bottom: 1px solid #000000;
}

/* Middle Layout */
@media screen and (width > 800px) {
  .content {
    max-width: 1060px;
  }

  form {
    display: flex;
    gap: 0.5rem;
  }

  .skills-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .contact-info div {
    display: inline-flex;
    flex: 1;
  }

  .references {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .references a {
    border-right: 1px solid;
  }
}

/* Widescreen Layout */
@media screen and (width > 1300px) {
}
/* Widescreen Layout not needed */
